<div class="my-login-background" layout-align="center center" layout-padding layout="row">
  <md-content style="border-radius:5px;opactiy:0.9">
    <form layout="column" flex>
      <div style="text-align:center">
        <p>
          <h4>
            <em style="color:#e86100">myFinance Login</em>
          </h4>
        </p>
        <p ng-if="registerForm">
          <span style="color:#800080">(Registration)</span>
        </p>
      </div>
      <md-input-container class="md-block" flex>
        <label>Username</label>
        <input ng-model="lc.userCredentials.username" type="text">
      </md-input-container>
      <md-input-container class="md-block" flex>
        <label>Password</label>
        <input ng-model="lc.userCredentials.password" type="password">
      </md-input-container>
      <md-input-container class="md-block" ng-if="registerForm" flex>
        <label>Confirm Password</label>
        <input ng-model="lc.userCredentials.passwordConfirm" ng-required="true" type="password">
      </md-input-container>

      <section layout-align="center center" layout-sm="column" layout-wrap layout="row">
        <div class="col-lg-10 col-lg-offset-2">
          <md-button class="btn" ng-click="showRegistration()" ng-show="loginForm" style="margin-left:5px" type="reset">Register
          </md-button>
          <md-button class="btn" ng-click="showLogin()" ng-show="registerForm" style="margin-left:5px" type="reset">Cancel
          </md-button>
          <md-button class="btn" ng-click="lc.createUser()" ng-show="registerForm" style="margin-left:5px" type="button">
            Submit
          </md-button>
          <md-button class="btn" ng-click="lc.login()" ng-show="loginForm" type="submit">
            Sign In
          </md-button>
        </div>
      </section>
    </form>
  </md-content>
</div>
