/*custom css file */

.my-color-pallet {

  color1: #818285;
  color2: #01597b;
  color3: #0091EA;
  color4: #ffffff;
  color5: #000000;

}

.my-white-container {
  background-color:#ffffff;
  opactiy:0.9;
  padding: 5px;
}

.my-login-background {
    background: url(images/login-background-3.jpg) no-repeat center center fixed;
    background-size: cover;
    height:inherit;
    padding-bottom: 40px;
}

.my-home-background {
  background-color:#01597b;
}

.my-white-text {
  color: #ffffff;
}

.my-menu-text {
  font-size: 200%;
  color: #ffffff;
  background-color: #4C4D52;
}
