/*custom css file */

.my-color-pallet {

  color1: #818285;
  color2: #e86100;
  color3: #0091EA;
  color4: #ffffff;
  color5: #000000;

}

.my-login-background {
    background: url(images/login-background-3.jpg) no-repeat center center fixed;
    background-size: cover;
    height:inherit;
    padding-bottom: 40px;
}

.my-home-background {
  background-color:#006064;
}

.my-white-text {
  color: #ffffff;
}
.my-menu-text {
  font-size: 250%;
  color: #ffffff;
  background-color: #4C4D52;
}
