<form>
  <md-input-container>
  <label>Income Name: </label>
  <input type="text" aria-label="income-name" ng-model="incomesList.newIncome.name" />
</md-input-container>
<md-input-container>
  <label>Description: </label>
  <input type="text" aria-label="income-description" ng-model="incomesList.newIncome.description" />
</md-input-container>
  <md-button class="md-raised md-primary" ng-click="incomesList.addIncome()">Add Income!</md-button>
</form>
<ul>
  <li ng-repeat="income in incomesList.incomes">
    {{income.name}}
    <p>{{income.description}}</p>
    <md-button class="md-raised md-primary" ng-click="incomesList.removeIncome(income)">X</md-button>
  </li>
</ul>
