<form>
  <label>Expense Name: </label>
  <input type="text" ng-model="expensesList.newExpense.name" />
  <label>Description: </label>
  <input type="text" ng-model="expensesList.newExpense.description" />
  <button ng-click="expensesList.addExpense()">Add Expense!</button>
</form>
<ul>
  <li ui-sref="expenseDetails({ expenseId: expense._id })" ng-repeat="expense in expensesList.expenses">
    {{expense.name}}
    <p>{{expense.description}}</p>
    <button ng-click="expensesList.removeExpense(expense)">X</button>
  </li>
</ul>
